<h1>Listing servs</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <thead>

<tbody>
  <%= render @servs %>
</tbody>

<%= link_to 'New Serv', new_serv_path %>
