<div class="row">
	<div class="span6 offset3">
		<div class="well">
<p>
  <%= @serv.title %>
</p>
<p>
  <%= @serv.description %>
</p>

<%= link_to 'Edit', edit_serv_path(@serv) %> |
<%= link_to 'Back', servs_path %>
		</div>
	</div>
</div>		