<div class="row">
    <div class="span6 offset3">
        <div class="well">
            <p>
              <%= @opp.title %>
            </p>
            <%= link_to 'Edit', edit_pin_path(@opp) %> |
            <%= link_to 'Back', opps_path %>
        </div>
    </div>
</div>